body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
}

.navigation {
  display: flex;
  list-style-type: none;
  margin: 0;
  margin-right: 200px;
}

.navigation li {
  margin-left: 15px;
}

.header-contacts {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.header-contacts li {
  margin-left: 15px;
}
